<html>
<head>
    <meta charset="utf=8">
    <link rel="stylesheet" href="styles.css">
    <title>Wine Time Orders</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Wine Time Orders</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="customers">Customers</a></li>
            <li><a href="employees">Employees</a></li>
            <li><a href="wines">Wines</a></li>
            <li><a href="orders">Orders</a></li>
            <li><a href="wine_orders">Wine-Orders</a></li>
        </ul>
    </nav>
    
    
    
    <table>
        <tr>
            <th>OrderID</th>
            <th>Date</th>
            <th>Customer Name</th>
            <th>Total Cost</th>
            <th>Employee Name</th>
            <th>Delete</th>
        </tr>
        {{#each orders}}
        <tr>
            
            <td>{{orderID}}</td>
            <td>{{date}}</td>
            <td>{{CustomerFirstName}} {{CustomerLastName}}</td>
            <td>{{totalPrice}}</td>
            <td>{{EmployeeFirstName}} {{EmployeeLastName}}</td>
            <form  id="deleteOrder" action="/deleteOrder/{{orderID}}" method="post">
            <td><button type="submit">Delete</button></td>       
            </form>
        </tr>
        {{/each}}
    </table>
    
    
    
    <h2>Create Order:</h2>
    <form id="addorder" action="/orders" method="post">
        <fieldset>

            <label for="date">Order date: Enter a date in the form MM/DD/YYY *required</label>
            <br />
            <input type="date" name="date" id="date" value="date" required>
            <br />
            <label for="phoneNumber">Customer phone number *required</label>
            <br />
            <select name="phoneNumber" id="phoneNumber">  
            <option>select customer</option>     
            {{#each customers}}
            <option>{{phoneNumber}}</option>
            {{/each}}
            </select>
            <br />
            <label for="employeeID">ID number for the employee who processed the order: *optional</label>
            <br />
            <select name="employeeID" id="employeeID" value="null">  
            <option>select employee</option>     
            {{#each employees}}
            <option>{{employeeID}}</option>
            {{/each}}
            </select>

        </fieldset>
        <br />
        <button type="submit">Submit Order</button>
    </form>
</body>
</html>