<html lang="en">
<head>
    <meta charset="utf=8">
    <link rel="stylesheet" href="styles.css">
    <title>Wine Time Wine-Orders</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="customers">Customers</a></li>
            <li><a href="employees">Employees</a></li>
            <li><a href="wines">Wines</a></li>
            <li><a href="orders">Orders</a></li>
            <li><a href="wine_orders">Wine-Orders</a></li>
        </ul>
    </nav>
    <h1>Wine Time Wine-Orders</h1>
    <form>
        <label for="filter">To search for a specfic order's wines, enter the order ID here</label>
        <select name="filter" id="filter">  
            <option>select order</option>     
            {{#each orders}}
            <option>{{orderID}}</option>
            {{/each}}
        </select>
    </form>
    <table>
        <tr>
            <th>OrderID</th>
            <th>Customer Name</th>
            <th>bottleID</th>
            <th>Wine</th>
            <th>Quantity</th>
        </tr>
        {{#each wine_orders}}
        <tr>
            <td>{{orderID}}</td>
            <td>{{firstName}} {{lastName}}</td>
            <td>{{bottleID}}</td>
            <td>{{brand}}, {{type}}</td>
            <td>{{quantity}}</td>
        </tr>
        {{/each}}
    </table>

    <h3>Add Wine-Order Relationship:</h3>
    <form id="addwineorders" action="/wine_orders" method="post">
        <fieldset>
            <label for="orderID">Choose Order</label>
            <br />
            <select name="orderID" id="orderID">  
            <option>select order</option>     
            {{#each orders}}
            <option>{{orderID}}</option>
            {{/each}}
            </select>
            <br/>
            <label for="bottleID">Wine</label>
            <br />
            <select name="bottleID" id="bottleID">  
            <option>select wine</option>     
            {{#each wines}}
            <option>{{bottleID}}</option>
            {{/each}}
            </select>
            <br />	    
            <label for="quantity">Quantity</label>
            <br />
            <input type="number" name="quantity" id="quantity" maxlength="20" required>
        </fieldset>
        <br />
        <button type="submit">Add Wine-Order</button>
    </form>
</body>
</html>